.sidebar {
    font-size: 13px;
    background: #eee;
    overflow: auto;
    position: fixed;
    height: 100vh;
    left: 0px;
    top: 47px;
    bottom: 0px;
    width: 250px;
    display: block;
}

.admin-contents{
    margin-left: 250px;
    display: block;
}